.alertify-notifier .ajs-message {
  text-align: center;
  border: solid 1px $color-white;
  border-radius: 20px;
  color: $color-white;
}
.alertify-notifier .ajs-message.ajs-success {
  background: $color-success;
}
.alertify-notifier .ajs-message.ajs-error {
  background: $color-red;
}

.alertify-notifier .ajs-message.ajs-warning {
  background: $color-warning;
}
