@import "breakpoint-sass";

$font-family: "Roboto";
$color-primary: #2daf8e;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);
$color-secondary: #d3d61f;
$color-gray: #5d5d81;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);
$color-white: white;
$color-black: #000;
$color-red: #b70000;
$color-red-dark: darken($color-red, 10%);
$color-error-background: #ffdbd9;
$color-error: #f44336;
$color-warning: #757575;
$color-success: #4bb543;
$background-color: white;

$header-height: 60px;
$footer-height: 45px;
$box-shadow: 1px 0 4px 0 rgb(0 0 0 / 25%);
@mixin breakpoint($point: tablet) {
	@if $point == desktop-l {
		@media only screen and (min-width: 1440px) {
			@content;
		}
	} @else if $point == desktop {
		@media only screen and (min-width: 1024px) {
			@content;
		}
	} @else {
		@media only screen and (min-width: 768px) {
			@content;
		}
	}
}

:export {
	colorPrimary: $color-primary;
	colorSecondary: $color-secondary;
}
