@import "./base.module.scss";
@import "../../components/sidebar/sidebar";
@import "../../components/header/header";
@import "../../components/spinners/spinners";
@import "../../components/inputs/inputs";
@import "../../containers/app/app";
@import "../../containers/companyPage/companyPage";
@import "../../containers/companyDetailsPage/companyDetailsPage";
@import "../../containers/loginPage/loginPage";
@import "../../containers/registrationPage/registrationPage";
@import "../../components/footer/footer";

body {
	margin: 0;
	font-family: $font-family !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: $color-white scale;
	//background-color: #d7e1ec;
	height: 100vh;
	overflow: hidden;

	background: #d7e1ec;
	background: -webkit-linear-gradient(
		top left,
		#d7e1ec 0%,
		$color-white 100%
	);
	background: -moz-linear-gradient(top left, #d7e1ec 0%, $color-white 100%);
	background: -o-linear-gradient(top left, #d7e1ec 0%, $color-white 100%);
	background: linear-gradient(to bottom right, #d7e1ec 0%, $color-white 100%);

	#root {
		height: 100%;
	}

	.MuiInputBase-formControl {
		background-color: $color-white;
	}
	.title {
		text-align: center;
		padding: 10px;
		background-color: $color-primary;
		color: $color-white;
		font-size: 30px;
		border-radius: 5px;
	}

	.page {
		width: 100%;
		overflow-y: auto;
		height: 100%;
	}
	.d-none {
		display: none;
	}

	/* Change the white to any color */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px $color-white inset !important;
	}

	.MuiButton-root {
		border: 1px solid $color-primary-light;
	}
}
