@import "./base.module.scss";
@import "../../components/sidebar/sidebar";
@import "../../components/header/header";
@import "../../components/spinners/spinners";
@import "../../components/inputs/inputs";
@import "../../containers/app/app";
@import "../../containers/companyPage/companyPage";
@import "../../containers/companyDetailsPage/companyDetailsPage";

body {
	margin: 0;
	font-family: $font-family !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $color-white;
	height: 100vh;
	overflow: hidden;

	#root {
		height: 100%;
	}

	.page {
		padding: 10px;
		width: 100%;
		overflow-y: auto;
	}
	.d-none {
		display: none;
	}
}
