.company-details-form {
	display: flex;
	flex-direction: column;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	width: 80%;

	button {
		margin-top: 1em;
	}
	.MuiFormGroup-row {
		justify-content: space-between;
		width: 100%;
		.MuiFormControl-root {
			width: 46%;
		}
	}

	.select-activities {
		margin: 1em auto 0 auto;
		width: 70%;
	}

	.MuiFormControl-root {
		margin-top: 10px;
	}
}
