.header {
	background: $color-primary;
	color: $color-white;
	height: $header-height;
	display: flex;
	align-items: center;

	.header_svg--home {
		cursor: pointer;
		padding-left: 10px;
	}

	.header_svg--menu {
		cursor: pointer;
		padding-left: 26px;
		z-index: 997;
	}

	.header_svg--home:hover {
		fill: $color-secondary;
		transition: 0.5s ease all;
	}
	.header_svg--menu:hover {
		fill: $color-secondary;
		transition: 0.5s ease all;
	}

	a {
		color: unset;
		text-decoration: none;
		z-index: 997;
	}

	.header_svg--login {
		display: flex;
		align-items: center;
		margin-left: auto;
		margin-right: 10px;
		cursor: pointer;

		svg {
			margin-right: 5px;
		}
	}

	.header_svg--login:hover {
		fill: $color-secondary;
		transition: 0.5s ease all;
		color: $color-secondary;
	}
}
